html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-page {
    width: 100%;
    height: 100%;
    position: relative;

}

.side-panel {
    width: 25%;
    height: 100%;
    float: left;
    box-shadow: 0 0 21px rgba(41, 41, 41, 0.63)
}

.content-panel {
    width: 75%;
    height: 100%;
    float: left;
}

/*panel*/
.panel-header {
    background-color: #72808a;
    color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
    font-size: 25px;
}

.panel-header-label {
    padding: 7px 0 7px 10px;
}
/*end*/

.search-panel {
    background-color: #f1f1f1;
}

.search-panel .panel-body {
    padding: 15px 15px 0;
}

/*select*/
.select {
    padding-bottom: 15px;
}
.select label {
    font-size: 18px;
    font-family: 'Arial Black', fantasy;
    font-style: normal;
    color: #5d686f;
    text-transform: uppercase;
    font-weight: normal;
}

.select select {
    display: block;
    width: 100%;
}
/*end*/

/*button*/
.btn {
    background: #edeeee;
    border: 1px solid #9ea8ae;
    color: #5d686f;
    text-shadow: none;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 0;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    padding: 1px 10px 0 10px;
    height: 28px;
    line-height: 16px;
    border-radius: 0;
    font-family: 'Arial Black', fantasy;
}
/*end*/

/*Ad*/
.tutor-ad .photo img {
    border-radius: 9999px;
}

.tutor-ad {
    overflow: hidden;
    background-color: #ebe7e7;
    box-shadow: 0 0 4px rgba(41, 41, 41, 0.63);
    margin-bottom: 10px;
}

.tutor-ad .photo{
    display: inline-block;
    float: left;
}

.tutor-ad .info{
    display: inline-block;
    float: left;
    padding-left: 14px;
}

.tutor-ad .tutor-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #5d686f;
}

.ad-body {
    padding: 9px 15px 0;
    display: inline-block;
}
/*end*/

.adds-list {
    padding: 10px 30px 0;
}

/*courseDetail*/
.course-details .backward {
    width: 30px;
    height: 100%;
    float: left;
    background-color: #f1f1f1;
    position: relative;
}

.course-details .backward > span {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -8px;
    font-weight: bold;
    font-family: 'Arial Black', fantasy;
}

.course-details-panel {
    left: 30px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 0 40px;
}

.course .detail {
    border-bottom: 3px solid #f1f1f1;
    margin-bottom: 7px;
}

.course .detail .label {
    font-size: 18px;
    font-family: 'Arial Black', fantasy;
    font-style: normal;
    color: #5d686f;
    text-transform: capitalize;
    font-weight: normal;
    width: 200px;
    display: inline-block;
}