.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    /*overflow-y: scroll;*/
    background-color: rgba(0,0,0,0.7);
}

.dialog{
    transform: translate(0, 0);
    transition: transform 0.3s ease-out;
    background-color: #edeeee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    width: 600px;
    padding: 0;
    z-index: 1050;
    /*width: auto;
    padding: 10px;*/
    margin-right: auto;
    margin-left: auto;
}

.dialog .header{
    padding: 15px 20px;
    border-bottom: none;
}

.dialog .header .title{
    margin: 0;
    font-size: 24px;
    font-family: museo_sans500;
    font-style: normal;
}

.dialog .header .help{
    position: absolute;
    right: 20px;
    top: 10px;
}

.dialog .body {
    padding: 0 20px;
    min-height: 70px;
    position: relative;
}

.dialog .footer{
    padding: 20px;
    margin-top: 0;
    border-top: none;
}